<div class="container">
  <app-chat-sidebar></app-chat-sidebar>
  <div class="messages">
    <app-chat-header></app-chat-header>
    <div class="body">
      <div class="message">
        <div class="avatar">
          <img src="https://svgshare.com/i/RWG.svg" alt="">
        </div>
        <div class="">
          <div class="name">Charlie Brown</div>
          <div class="text">Not how long, but how well you have lived is the main thing.</div>
        </div>
      </div>
      <div class="message">
        <div class="avatar">
          <img src="https://svgshare.com/i/RWG.svg" alt="">
        </div>
        <div class="">
          <div class="name">Charlie Brown</div>
          <div class="text">Not how long, but how well you have lived is the main thing.</div>
        </div>
      </div>
      <div class="message">
        <div class="avatar">
          <img src="https://svgshare.com/i/RWG.svg" alt="">
        </div>
        <div class="">
          <div class="name">Charlie Brown</div>
          <div class="text">Saul , que tal buenos dias , en lo que es Dev ahora esta usando el token y tieene una logica que si algun endpoint no tiene auth lo va redirigir al login, el asunto con eso esq ue no todas las secciones necesitan login
          </div>
        </div>
      </div>
      <div class="message">
        <div class="avatar">
          <img src="https://svgshare.com/i/RWG.svg" alt="">
        </div>
        <div class="">
          <div class="name">Charlie Brown</div>
          <div class="text">Not how long, but how well you have lived is the main thing.</div>
        </div>
      </div>
    </div>
    <app-chat-footer></app-chat-footer>
  </div>
</div>