.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  .input-container {
    width: 100%;
    position: relative;
    .send {
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translate(-50%, -50%);
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      font-family: "FibraOne-Regular";
      color: rgba($color: #fff, $alpha: 0.5);
      font-size: 1rem;
      font-family: "FibraOne-Regular";
    }
  }
  .input {
    outline: none;
    border: none;
    display: grid;
    width: 100%;
    padding: 0 6rem 0 3rem;
    height: 46px;
    background: rgba($color: #fff, $alpha: 0.1);
    color: rgba($color: #fff, $alpha: 0.75);
    font-size: 1rem;
    font-family: "FibraOne-Regular";
  }
  .add {
    color: rgba($color: #fff, $alpha: 0.5);
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0, -50%);
    display: flex;
    .add-icon {
      display: flex;
      padding: 0 1rem;
    }
  }
}
